body {
    font-family: sans-serif;
    background-color: rgba(238, 238, 238, 0.966);
}

.column {
    float: left;
  }

#newEntry, #restCard {
    display: flex;
}

nav, #wrap, #restCard, #headerDiv {
    border: 2px black solid;
    margin: 5px;
    padding: 10px;
}

.arrayCard {
    display: flex;
    border: 2px black solid;
    margin: 5px;
    padding: 10px;
}

h1, h2 {
    border-bottom: 1px black solid;
}

section {
    border-right: 1px black solid;
    margin: 10px;
    padding: 10px;
}

aside {
    padding: 22px;
}

select {
    border: 1px black solid;
    width: 153px;
}

button {
    margin-top: 10px;
    float: right;
}
